
.card-container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
  }
  
  .list-group-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px; /* Adds space between items */
  }
  
  .order-date {
    font-weight: bold;
    font-size: 18px;
    border-bottom: none;
  }
  
  .order-summary-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .total-amount {
    font-weight: bold;
    font-size: 16px;
  }
  
  .return-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #28a745;
    border-color: #28a745;
  }
  