.customHomePage{
    position: relative;
}
img { 
    width: 100%;
    height: auto;
  }
  .customContainer{
    padding: 0 !important;
  }
  .hgt{
    height: 100%;
  }
  .carousels{
    height: 600px;
  }
  .slide, .carousel-inner,.carousel-item,.img-fluid{
    height: 100% !important; 
  } 

